.iconoIni {
    color: #535353;
}
.iconoIni:hover {
    color: #ffffff;
    cursor: pointer; 
}

/*LOGO */
.logo {
    text-decoration: none;
    color: #ffffff;
}
.logo:hover {
    color: #ffffff;
}

/* NavTop */
.navTop {
    color: #ffffff;
    height: 50px;
    width: 100%;
    display: flex;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 100%;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    height: 100%;
}
.register {
    color: #6a6a6a;
    margin-right: 20px;
    font-weight: 700;
   
}
.register:hover,
.login:hover {
    color: #6a6a6a;
    cursor: pointer;
    transform: scale(1.2);
    
}
.login {
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    font-weight: 700;
}

/*Targeta*/ 
.greenCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1cd760;
    position: relative;
    right: -75%;
    bottom: 15%;
    visibility: hidden;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greenCircle:hover {
    cursor: pointer;
}

.card-tittle:hover {
    cursor: pointer;
}

.spotyCard:hover {
    .greenCircle {
        visibility: visible;
    }
}

.myPlaylist {
    display: flex;
    flex-direction: row;
    overflow-x: scroll!important;
    flex-wrap: nowrap;
}

.myPlaylistY {
    display: flex;
    flex-direction: column;
    overflow-y: scroll!important;
    flex-wrap: nowrap;
}

/*footer*/
.reproductor {
    text-decoration: none;
    color: #ffffff;
}
.reproductorSimbolo:hover {
    color:#1cd760
}